.afbeelding-alinea-1 {
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-left: 5%;
}

.flex-wrap-up {
    flex-wrap: wrap-reverse !important;
}

.features {
    display: flex;
    flex-wrap: wrap;
}

.features_header {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.features_icon svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-primary);
}

.section {
    padding: 10rem 3rem;
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}

.section_title {
    align-self: center;
    justify-self: center;
    padding-left: 5%;
    width: 400px;
    font-size: 1.5rem;
}

.section_description {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.section_header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
}

.section__title {
    max-width: 80rem;
    margin: 0 auto 8rem auto;
    align-self: center;
}
