.flex-container {
    display: flex;
    justify-content: space-between;
}

.contactForm li {
    display: flex;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.contactForm {
    margin-top: auto;
}

.icon {
    max-width: 50%;
    padding-top: 0.6rem;
}

.button {
    transition: 0.3s;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    max-width: 25%;
    height: 25px;
    background: #002ca56c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-top: 1rem;
}

.submitButton {
    transition: 0.3s;
    margin-left: 8%;
    background: #002ca56c;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
    width: 25%;
    padding: 0.8rem;
    font-weight: 400;
    font-size: 1.6rem;
}

.contactDescription {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding-top: 4%;
}

.contact {
    margin-left: 6rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #002ca56c;
}

.contactInfo {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 1rem;
}

.flex {
    display: flex;
}
