.css3ad-container {
    overflow: hidden;
    width: 336px;
    height: 280px;
}

.css3ad-first,
.css3ad-second,
.css3ad-third,
.css3ad-fourth,
.css3ad-fifth {
    opacity: 0.25;
    border-radius: 8px;
    width: 85%;
    height: auto;

    transition: all 0s linear;
}

.css3ad-first {
    background: url("img/Cycle images/achtergrond-afbeelding-1.1.jpg") no-repeat;
    animation: cycle 25s linear infinite;
    -webkit-animation: cycle 25s linear infinite;
}

.css3ad-second {
    background: url("img/Cycle images/achtergrond-afbeelding-1.1.jpg") no-repeat;
    animation: cycletwo 25s linear infinite;
    -webkit-animation: cycletwo 25s linear infinite;
}

.css3ad-third {
    background: url("img/Cycle images/achtergrond-afbeelding-1.1.jpg") no-repeat;
    animation: cyclethree 25s linear infinite;
    -webkit-animation: cyclethree 25s linear infinite;
}

.css3ad-fourth {
    background: url("img/Cycle images/achtergrond-afbeelding-1.1.jpg") no-repeat;
    animation: cyclefour 25s linear infinite;
    -webkit-animation: cyclefour 25s linear infinite;
}

.css3ad-fifth {
    background: url("img/Cycle images/achtergrond-afbeelding-1.1.jpg") no-repeat;
    animation: cyclefive 25s linear infinite;
    -webkit-animation: cyclefive 25s linear infinite;
}

@keyframes cycle {
    0% {
        top: 0px;
    }
    4% {
        top: 0px;
    }
    16% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    21% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
    92% {
        top: 0px;
        opacity: 0;
        z-index: 0;
    }
    96% {
        top: 0px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}
@keyframes cycletwo {
    0% {
        top: 0px;
        opacity: 0;
    }
    16% {
        top: 0px;
        opacity: 0;
    }
    20% {
        top: 0px;
        opacity: 1;
    }
    24% {
        top: 0px;
        opacity: 1;
    }
    36% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    41% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
}
@keyframes cyclethree {
    0% {
        top: 0px;
        opacity: 0;
    }
    36% {
        top: 0px;
        opacity: 0;
    }
    40% {
        top: 0px;
        opacity: 1;
    }
    44% {
        top: 0px;
        opacity: 1;
    }
    56% {
        top: 0px;
        opacity: 1;
    }
    61% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
    100% {
        top: 0px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes cyclefour {
    0% {
        top: 0px;
        opacity: 0;
    }
    56% {
        top: 0px;
        opacity: 0;
    }
    60% {
        top: 0px;
        opacity: 1;
    }
    64% {
        top: 0px;
        opacity: 1;
    }
    76% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
    81% {
        top: 0px;
        z-index: -1;
    }
    100% {
        top: 0px;
        z-index: -1;
    }
}
@keyframes cyclefive {
    0% {
        top: 0px;
        opacity: 0;
    }
    76% {
        top: 0px;
        opacity: 0;
    }
    80% {
        top: 0px;
        opacity: 1;
    }
    84% {
        top: 0px;
        opacity: 1;
    }
    96% {
        top: 0px;
        opacity: 1;
        z-index: 0;
    }
}
