.footer {
    padding: 2rem 3rem;
    background-image: linear-gradient(#88888875, #4646467a);
    border-radius: 25px;
}

.footer_nav {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer_item {
    margin-right: 4rem;
}

.footer_link {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.footer_logo {
    height: 8rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 5rem;
    align-self: center;
}

.footer_copyright {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.footer_copyright .footer_link {
    font-size: 1.4rem;
}
