html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.9;
    background-image: linear-gradient(#f7feff42, #e2f8fd42);   
}
  
.header_title { 
    text-align: center;
}

.header_background {
    position: relative;
}

.header_background img {
    opacity: 0.25;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: auto;
}

.header_center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow_down {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    display: block;
    width: 100px;
    height: 15px;
    background: #91919193;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.arrow_down:hover {
    background: #7e7e7e93;
    box-shadow: 0px 0px 1px 1px #7e7e7e93;
    transition: 0.2s;
}
  
h1 {
    font-size: 4rem;
    line-height: 1.50;
}
  
h4 {
    font-size: 2rem;
    font-weight: 500;
}