html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.9;
    background-image: linear-gradient(#96a3a542, #76b5c442);
}

/* Preload images to prevent flickering */
body::after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url("../img/cycle-images/img-1.jpg")
        url("../img/cycle-images/img-2.jpg")
        url("../img/cycle-images/img-3.jpg");
}

.header-title {
    text-align: center;
}

.header-background {
    position: relative;
    display: flex;
    justify-content: center;
}

/* Cycle through images on top */
.header-background #cycleImagesDiv {
    opacity: 0.2;
    border-radius: 8px;
    height: 29.75vw;
    width: 85vw;
    background-size: contain;
    background-repeat: no-repeat;
    animation: changeImages 40s linear infinite forwards;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

/* Keyfromes for cycling through the images on top */
@keyframes changeImages {
    0% {
        background-image: url("../img/cycle-images/img-1.jpg");
    }
    15% {
        background-image: url("../img/cycle-images/img-1.jpg");
    }
    20% {
        background-image: url("../img/cycle-images/img-2.jpg");
    }
    35% {
        background-image: url("../img/cycle-images/img-2.jpg");
    }
    40% {
        background-image: url("../img/cycle-images/img-3.jpg");
    }
    55% {
        background-image: url("../img/cycle-images/img-3.jpg");
    }
    60% {
        background-image: url("../img/cycle-images/img-1.jpg");
    }
    75% {
        background-image: url("../img/cycle-images/img-1.jpg");
    }
    80% {
        background-image: url("../img/cycle-images/img-2.jpg");
    }
    95% {
        background-image: url("../img/cycle-images/img-2.jpg");
    }
    100% {
        background-image: url("../img/cycle-images/img-1.jpg");
    }
}

.header-center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow-down {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    display: block;
    width: 100px;
    height: 15px;
    background: #91919193;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.arrow-down:hover {
    background: #7e7e7e93;
    box-shadow: 0px 0px 1px 1px #7e7e7e93;
    transition: 0.2s;
}

h1 {
    font-size: 2.5vw;
    line-height: 1.5;
}

h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

/* Change the style for phone usage */
@media only screen and (max-width: 768px) {
    .arrow-down {
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
        display: block;
        width: 50px;
        height: 7px;
        background: #91919193;
        padding: 10px;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 90%;
    }
    .read-more {
        font-size: 10px !important;
    }

    .header-center h1 {
        font-size: 2.9vw;
    }

    .header-center h4 {
        display: none;
    }
}
