:root {
    --color-primary: #001aff;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.9;
    background-image: linear-gradient(#96a3a542, #76b5c442);   
}
  
.header_title { 
    text-align: center;
}

.header_background {
    position: relative;
}

.header_background img {
    opacity: 0.25;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: auto;
}

.header_center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow_down {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    display: block;
    width: 100px;
    height: 15px;
    background: #91919193;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.arrow_down:hover {
    background: #7e7e7e93;
    box-shadow: 0px 0px 1px 1px #7e7e7e93;
    transition: 0.2s;
}
  
h1 {
    font-size: 4rem;
    line-height: 1.50;
}
  
h4 {
    font-size: 2rem;
    font-weight: 500;
}