:root {
    background-color: rgba(0, 0, 0, 0.548);
    margin-left: 5%;
    margin-right: 5%;
}

.nav-logo {
    height: 4rem;
    width: auto;
    vertical-align: middle;
}

.nav-logo-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.test-navbar {
    display: flex;
    height: 60px;
}

.searchbar {
    padding: 6px;
    border: 5px;
    border-color: black;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 16px;
    font-size: 17px;
    border-radius: 10px;
    width: 500px;
    height: 20px;
}

.searchbar-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login-and-shoppingcart {
    display: flex;
    justify-content: right;
    align-items: center;
}

.account-icon {
    height: 2rem;
    width: auto;
    vertical-align: middle;
    padding-right: 20px;
}

.shoppingcart {
    height: 2rem;
    width: auto;
    vertical-align: middle;
}
