html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    color: #444;
    line-height: 1.9;
    background-image: linear-gradient(#f7feff42, #e2f8fd42);
}

.nav_logo {
    height: 8rem;
    width: auto;
}

.nav_links {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.left {
    margin-right: auto;
    width: 10rem;
}

.center {
    transition: 0.3s;
    margin-left: 4rem;
    display: block;
    width: 140px;
    height: 25px;
    background: #002ca56c;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.center:hover {
    background: #002ca59f;
    box-shadow: 0px 0px 2px 2px #888888;
    transition: 0.3s;
}

.right {
    margin-left: auto;
    transition: 0.3s;
    width: 10rem;
    transition: 0.2s;
    display: block;
    width: 100px;
    height: 15px;
    background: #91919193;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}

.right:hover {
    background: #919191c5;
    box-shadow: 0px 0px 2px 2px #888888;
    transition: 0.2s;
}

.nav_link:link,
.nav_link:visited {
    font-size: 1.7rem;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}

.header_title {
    text-align: center;
}

.header_background {
    position: relative;
}

.header_background img {
    opacity: 0.25;
    border-radius: 8px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: auto;
}

.header_center {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.arrow_down {
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
    display: block;
    width: 100px;
    height: 15px;
    background: #91919193;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 150%;
}

.arrow_down:hover {
    background: #7e7e7e93;
    box-shadow: 0px 0px 1px 1px #7e7e7e93;
    transition: 0.2s;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
}

h4 {
    font-size: 2rem;
    font-weight: 500;
}

.section {
    padding: 10rem 3rem;
    transition: transform 1s, opacity 1s;
}

.section_title {
    max-width: 80%;
    margin: 0 auto 8rem auto;
    display: flex;
    align-items: center;
}

.section_title img {
    flex-grow: 0;
    flex-shrink: 0;
}

.section_description {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-align: left;
    list-style: none;
}

.section_header {
    font-size: 4rem;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;
}

.afbeelding-alinea-1 {
    height: 30rem;
    border-radius: 8px;
}
